.review {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-top: -36px;
}

.review__logo {
  width: 32px;
}

.review__rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4px;
  gap: 4px;
}

.review__rating-stars {
  display: flex;
  gap: 4px;
}

.review__rating-star-icon {
  display: flex;
}

.review__rating-text {
  font-size: 14px;
  line-height: 24px;
  color: var(--grey-2);
}

.review__rating-text--highlighted {
  font-weight: 700;
  color: var(--grey-3);
}

@media (max-width: 1160px) {
  .review {
    margin-top: 0;
  }
}
