.navbar {
  display: flex;
  justify-content: center;
}
.navbar__content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 64px;
  padding: 0px 160px;
  border-bottom: 1px solid var(--grey-4);
}

.navbar__logo {
  width: 66px;
  height: 32.421px;
}

.navbar__auth-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar__button {
  display: flex;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  border: none;
  border-radius: 6px;
  background: none;
}

.navbar__button--login {
  border: 1px solid var(--grey-1);
}

.navbar__button--register {
  font-weight: 500;
  color: var(--white);
  background: var(--orange-gradient);
}

@media (max-width: 1300px) {
  .navbar__content-container {
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media (max-width: 1160px) {
  .navbar__content-container {
    padding: 12px 16px;
  }
}
