.main {
  display: flex;
  justify-content: center;
}

.main__content-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 104px 120px 0 120px;
}

.main__content-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .main__content-container {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 1160px) {
  .main__content-container {
    align-items: center;
    margin: 40px 12px 24px 12px;
  }
  .main__content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
