.main {
  display: flex;
  justify-content: center;
}

.main__content-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 104px 120px 80px 120px;
}
