.website-description {
  display: flex;
  flex-direction: column;
}

.website-description--margin {
  margin-top: 52px;
}

.website-description__heading {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 55.8px;
}
.website-description__heading--highlighted {
  font-weight: 500;
  color: var(--orange);
}

.website-description__checklist-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 40px;
}
.website-description__checklist-item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
/* .website-description__checklist-item-icon-checkmark {
} */

.website-description__checklist-item-description {
  font-size: 20px;
  line-height: 32px;
}

.website-description__checklist-item-description--highlighted {
  font-weight: 700;
}

@media (max-width: 1160px) {
  .website-description {
    padding: 0px 11px;
  }

  .website-description--margin {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .website-description__heading {
    font-size: 32px;
    line-height: 48px;
  }

  .website-description__heading--highlighted {
    font-weight: 700;
  }

  .website-description__checklist-container {
    margin-top: 22px;
  }

  .website-description__checklist-item {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
  }

  .website-description__checklist-item-description {
    font-size: 16px;
    line-height: 24px;
  }
}
