.donkey {
  position: fixed;
  width: 271px;
  height: 271px;
  right: 15px;
  bottom: 0px;
}

@media (max-width: 1300px) {
  .donkey {
    right: -20px;
  }
}

@media (max-width: 1160px) {
  .donkey {
    display: none;
  }
}
